<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/easy-responsive-tabs.css" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Prompt:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,thai,vietnamese" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

    <title>@ViewData["Title"] - HotelReservation</title>


</head>
<body>
    <div class="banner">
        <div class="header-bottom">
            <div class="header" style="background-color:black">
                <div class="container">
                    <div class="w3_agile_logo">
                        <h1><a href="index.html"><span>Hotel Management</span>software</a></h1>
                    </div>
                    <div class="header-nav" style="background-color:black">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header navbar-left">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                                <nav class="link-effect-12">
                                    <ul class="nav navbar-nav w3_agile_nav">


                                        <li><a href="@Url.Action("SignIn", "Account")"><span>Sign In</span></a></li>

                                        <li><a href="@Url.Action("Register", "Account")"><span>Register</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </nav>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>



            <div id="typer">

                <img src="~/images/bannerrr-1.jpg" />

            </div>
            <div class="top-banner-right">
                <ul>
                    <li><a class="facebook" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a class="facebook" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a class="facebook" href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                    <li><a class="facebook" href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                </ul>
            </div>



        </div>
    </div>
    <div class="about">
        <div class="container">
            <div class="w3ls-heading">
                <h2>visit Nepal </h2>

            </div>
            <br />
            <h2 style="text-align:center">Recommended Destinations</h2>
            <div class="w3-about-grids">
                <div class="col-md-6 visible-md-inline">




                </div>





                <div class="row">

                    <div class="col-md-6 w3-about-left">
                        <div class="about-img-grids">


                            <div class="col-md-6 about-img">

                                <ul id="slides">
                                    <li class="slide showing">
                                        <img src="~/images/durbar.jpg" />
                                        <p style="color:Black ; text-align:center"> KATHMANDU</p>
                                    </li>
                                    <li class="slide">
                                        <img src="~/images/Godavari.jpg" />
                                        <p style="color:Black ; text-align:center"> KATHMANDU</p>
                                    </li>
                                    <li class="slide">
                                        <img src="~/images/Pashupatinath.jpg" />
                                        <p style="color:Black ; text-align:center"> KATHMANDU</p>
                                    </li>
                                    <li class="slide">
                                        <img src="~/images/PatanDurbar.jpg" />
                                        <p style="color:Black ; text-align:center"> KATHMANDU</p>
                                    </li>
                                    <li class="slide">
                                        <img src="~/images/Swayambhu.jpg" />
                                                                 <p style="color:Black ; text-align:center"> KATHMANDU</p>
                                    </li>
                                </ul>
                              



                            </div>
                       
                            <div class="col-md-6 about-img">




                                    <img src="images/Pokharaa.jpeg" alt=" " />
                                    <p style="color:black; text-align:center">PARAGLIDING</p>


                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="about-img-grids">
                            <div class="col-md-6 about-img about-img1">
                                <img src="~/images/Trishuli.jpg" alt=" " />


                                <p style="color:black; text-align:center">Rafting in River Trishuli</p>

                            </div>
                            <div class="col-md-6 about-img">
                                <img src="~/images/Lumbini.jpg" alt=" " />
                                <p style="color:black; text-align:center">LUMBINI</p>

                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="col-md-6 w3-about-right">
                        <div class="about-img-grids">
                            <div class="col-md-7 about-img">
                                <img src="~/images/chitwan.jpg" alt=" " />
                                <p style="color:black; text-align:center">CHITWAN</p>

                            </div>
                            <div class="col-md-5 about-img about-img1">

                                <img src="~/images/Kanyam.jpg" alt=" " />
                                <p style="color:black; text-align:center">KANYAM</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="about-img-grids">
                            <div class="col-md-5 about-img about-img1">
                                <img src="~/images/durbar.jpg" alt=" " />
                                <p style="color:black; text-align:center">Durbar</p>

                            </div>
                            <div class="col-md-7 about-img">
                                <img src="~/images/Pokhara.jpg" alt=" " />
                                <p style="color:black; text-align:center">POKHARA</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>

    <div class="popular-section-wthree">
        <div class="container">
            <div style="text-align:center">
                <h3 style="color:black">Featured Hotels in Nepal</h3>
            </div>
            <div class="popular-agileinfo">
                <div class="col-md-3 about-img about-img">

                    <h4 >Hotel Yak and Yeti</h4>
                    <img src="~/images/yakandyeti.jpg" alt=" " />
                </div>
                <div class="col-md-3 about-img about-img">

                    <h4>Hotel soltee Crown Plaza</h4>

                    <img src="~/images/solti.jpg" alt=" " />


                </div>
                <div class="col-md-3 about-img about-img">
                    <h4>Hotel Everest</h4>
                    <img src="~/images/everest.jpg" alt=" " />
                  
                </div>
                <div class="col-md-3 about-img about-img">
                    <h4>Hotel Annapurna</h4>
                    <img src="images/3.jpg" alt=" " />
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>

    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2021 - HotelManagementSoftware</p>
        </footer>
    </div>



    <script src="~/js/move-top.js"></script>
    <script src="~/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <script src="~/js/bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>

    <script src="~/js/jquery.typer.js"></script>
    <script>
        var win = $(window),
            foo = $('#typer');

        foo.typer(['Luxury Hotels', 'Hotels & Resorts', 'Luxury Resorts']);

        win.resize(function () {
            var fontSize = Math.max(Math.min(win.width() / (1 * 10), parseFloat(Number.POSITIVE_INFINITY)), parseFloat(Number.NEGATIVE_INFINITY));

            foo.css({
                fontSize: fontSize * .8 + 'px'
            });
        }).resize();
    </script>
    <script src="~/js/easy-responsive-tabs.js"></script>
    <script>
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true,   // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
            $('#verticalTab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });
        });
    </script>
    <style>
        .container {
  position: relative;
}


.text-block {
  position: absolute;
  bottom: 2px;
  right: 20px;
 
  color:Black;
  padding-left: 20px;
  padding-right: 20px;
}


















#slides {
    position: relative;
  
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}








.slide {
    font-size: 16px;
    
    box-sizing: border-box;
    background: #333;
    color: #fff;
}

.slide:nth-of-type(1) {
    
}
.slide:nth-of-type(2) {
    
}
.slide:nth-of-type(3) {
    
}
.slide:nth-of-type(4) {
    
}
.slide:nth-of-type(5) {
    
}


    </style>
    <script>
        var slides = document.querySelectorAll('#slides .slide');
var currentSlide = 0;
var slideInterval = setInterval(nextSlide,2000);

function nextSlide() {
    slides[currentSlide].className = 'slide';
    currentSlide = (currentSlide+1)%slides.length;
    slides[currentSlide].className = 'slide showing';
        }


    </script>













    @RenderSection("Scripts", required: false)
</body>
</html>
